body {
    background: linear-gradient(135deg, #23272b 0%, #343a40 100%);    /* background: linear-gradient(135deg, #3a56c5 0%, #ffe066 100%) !important; */
}

header {
    background: #23272b;
    padding: 10px;
    margin-bottom: 20px;
    position: sticky !important;
    top: 0;
    z-index: 1;
    filter: drop-shadow(0px 2px 14px #5f5f5f);
}

footer {
    background: #23272b;
    padding: 10px;
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

footer h1 {
    display: flex;
    justify-content: center;
    padding: 35px;
    font-size: 20px;
}

input {
    border: 2px solid #ccc !important;
    border-radius: 25px;
    width: 60%;
    height: 40px;
    padding-left: 16px;
}

input:focus {
    border: 2px solid #e7c635 !important;
    filter: drop-shadow(0 0 3px #e7c635) !important;
    outline: none;
}

#content {
    min-height: 100vh !important;
}


#loading-button {
    font-size: 15px;
    border: none;
    background-color: #fa8582;
    color: white;
    filter: drop-shadow(0px 2px 5px #e26460);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    width: 205px;
    transition: width 0.2s ease-in;
}

#loading-button:hover {
    background-color: #ff6b65;
    filter: drop-shadow(0px 2px 5px #ff6b65);
    width: 230px;
    transition: width 0.2s ease-in;
}

.loading-button {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

@keyframes rotatePokeball {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

/* @keyframes dotsAnimation {
  0%   { content: "";}
  25%  { content: ".";}
  50%  { content: "..";}
  75%  { content: "...";}
  100% { content: "";}
}

@keyframes fadeOut {
  0% { opacity: 1;}
  90% { opacity: 1;}
  100% { opacity: 0;}
} */

/* #loading-screen {
    height:100vh;
    width:100vw;
    position:fixed;
    z-index:9999;
    top:0;
    left:0;
    background: linear-gradient(135deg, #3a56c5 0%, #ffe066 100%);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

#loading-screen img {
    animation: rotatePokeball 1.2s linear infinite;
    filter: drop-shadow(0px 0px 10px #ffffff);
}

#loading-screen p {
    color: rgb(202, 202, 202);
}

.dots::after {
    content: "";
    animation: dotsAnimation 1.5s steps(4, end) infinite;
} */

#loading-screen {
    z-index:9999;
    top:0;
    left:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    align-content: center;
}

#loading-screen img {
    animation: rotatePokeball 1.2s linear infinite;
    filter: drop-shadow(0px 0px 10px #ffffff);
}

.input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: flex-end;
}

.title {
    color: white !important;
    text-align: center;
    font-size: 15px;
}

.card {
    border-radius: 10px !important;
    transition: all 0.3s ease !important;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: all 1.10s ease;
}

.card-body img {
    transition: all 0.3s ease !important;
}

.card-body img:hover {
    cursor: pointer;
    transform: scale(1.10);
    transition: all 0.3s ease;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.header-section img {
    width: 200px;
    height: 70px;
}

.no-pokemon-found {
    height: 100vh !important;
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
}

.no-pokemon-found img {
    filter: drop-shadow(3px 6px 5px rgba(0,0,0,0.4)) !important;
}

.hidden {
    display: none !important;
}

