.bug-text {
    color: #92bd2d;
    filter: drop-shadow(0px 2px 5px #92bd2d);
}

.dark-text {
    color: #595761;
    filter: drop-shadow(0px 2px 5px #25242a);
}

.dragon-text {
    filter: drop-shadow(0px 2px 5px #0c6ac8);
    color: #0c6ac8;
}

.electric-text {
    filter: drop-shadow(0px 2px 5px #f2d94e);
    color: #f2d94e;
}

.fairy-text {
    filter: drop-shadow(0px 2px 5px #ef90e6);
    color: #ef90e6;
}

.fighting-text {
    filter: drop-shadow(0px 2px 5px #d3425f);
    color: #d3425f;
}

.fire-text {
    filter: drop-shadow(0px 2px 5px #fba64c);
    color: #fba64c;
}

.flying-text {
    filter: drop-shadow(0px 2px 5px #a1bbec);
    color: #a1bbec;
}

.ghost-text {
    filter: drop-shadow(0px 2px 5px #5f6dbc);
    color: #5f6dbc;
}

.grass-text {
    filter: drop-shadow(0px 2px 5px #60bd58);
    color: #60bd58;
}

.ground-text {
    filter: drop-shadow(0px 2px 5px #da7c4d);
    color: #da7c4d;
}

.ice-text {
    filter: drop-shadow(0px 2px 5px #76d1c1);
    color: #76d1c1;
}

.normal-text {
    filter: drop-shadow(0px 2px 5px #a0a29f);
    color: #a0a29f;
}

.poison-text {
    filter: drop-shadow(0px 2px 5px #b763cf);
    color: #b763cf;
}

.psychic-text {
    color: #fa8582;
    filter: drop-shadow(0px 2px 5px #e26460);
}

.rock-text {
    filter: drop-shadow(0px 2px 5px #c9bc8a);
    color: #c9bc8a;
}

.steel-text {
    filter: drop-shadow(0px 2px 5px #5795a3);
    color: #5795a3;
}

.water-text{
    filter: drop-shadow(0px 2px 5px #539ddf);
    color: #539ddf;
}