#content {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
}

.title {
    color: white !important;
    text-align: center;
    font-size: 17px;
}

.card {
    border-radius: 10px !important;
    transition: all 0.3s ease !important;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: all 1.10s ease;
}

.card-body img {
    transition: all 0.3s ease !important;
}

.card-body img:hover {
    cursor: pointer;
    transform: scale(1.10);
    transition: all 0.3s ease;
}

#loading-button {
    font-size: 15px;
    border: none;
    background-color: #fa8582;
    color: white;
    filter: drop-shadow(0px 2px 5px #e26460);
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    width: 205px;
    transition: width 0.2s ease-in;
}

#loading-button:hover {
    background-color: #ff6b65;
    filter: drop-shadow(0px 2px 5px #ff6b65);
    width: 230px;
    transition: width 0.2s ease-in;
}

.loading-button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.header-section {
    display: flex;
    justify-content: center;
    gap: 440px;
}